/*-- scss:defaults --*/

$presentation-heading-font: 'TWK Everett', serif;
$mainFont: 'TWK Everett', serif;

$tha-red: #FF0350;
$tha-orange: #F49600;
$tha-blue: #6784A5;

$lt1: #FF0350;
$lt2: #F2F2F2;
$accent1:  #FF0350;
$accent2:  #FFC700;
$accent3:  #585858;
$accent4:  #808080;
$accent5:  #00C341;
$accent6:  #CCCCCC;
$hlink:    #FF0350;
$folHlink: #595959;

$footer-bg: $lt2;
$link-color: $tha-red;
$presentation-title-slide-text-align: left;
$presentation-h2-font-size: 1.6em;
$presentation-h3-font-size: 1.6em;
$presentation-h4-font-size: 1.6em;

section.level1, section.level2, section.level3, section.level4 {
    top: 5.1% !important;
    left: 4.2% !important;
    height: 100%;
}

.quarto-title-block {
    top: 0% !important;
}

em {
    color: $tha-red !important;
 }

#title-slide .title {
color: $tha-red !important;
}

#title-slide .quarto-title-authors {
color: $tha-red !important;
}

#title-slide .date {
color: $tha-red !important; 
}

.reveal .footer {
    color: $tha-red !important;
    font-size: 8.5pt;
    bottom: 4.8% !important;
    left: 17% !important;
    width: 77% !important;
    text-align: left !important;   
    
}

.reveal .slide-number {
    color: $tha-red !important;
    font-size: 17pt !important;
    top: auto !important;
    bottom: 4.4% !important;
    right: 4.2% !important;
}


h1, h2, h3, h4 {
    color: $tha-red !important;
    text-transform: uppercase !important;
    font-size: 24pt !important;
    font-weight: bold;    
}

.reveal ul {
    list-style-image: url(/media/image2.svg);
}

.reveal ol li::marker{
    color: $tha-red;
}

.reveal ul ul {
    list-style-type: "- "  !important;
    padding-inline-start: 1ch;
    list-style-image: none;
}

.reveal .slide-logo {
    bottom: 3% !important;
    left: 3.7% !important;
    max-height: 7% !important;
  }
  
  
  .reveal .slide .footer {
    display: none;
  }

.caption {
    text-align: center;
}

.reveal .slides section .fragment.highlight-red.visible{
    font-weight: bold !important;
    color: $tha-red  !important;
  }
  
  .reveal .slides section .fragment.highlight-blue.visible{
    font-weight: bold  !important;
    color: $tha-blue  !important;
  }
  

.reveal.smaller .callout.callout-style-default div.callout-body {
    font-size: 20px !important;
}


.reveal.smaller {
    font-size: 30px !important;
}


.table-striped.header {
    color: $tha-red;
}

.table-striped>tbody>tr:nth-child(odd)>td,
.table-striped>tbody>tr:nth-child(odd)>th {
    background-color: #f2f2f2; // Choose your own color here
}

// /*-- scss:mixins --*/

/*-- scss:rules --*/
@font-face {
    font-family: 'TWK Everett';
    font-style: normal;
    font-weight: 400;
    src: local(""),
         url(/font/TWKEverett-Regular.otf) format('opentype');
}


  
