/*-- scss:defaults --*/

$presentation-heading-font: 'TWK Everett', serif;
$mainFont: 'TWK Everett', serif;

$tha-red: #FF0350;
$tha-orange: #F49600;
$tha-blue: #6784A5;

$lt1: #FF0350;
$lt2: #F2F2F2;
$accent1:  #FF0350;
$accent2:  #FFC700;
$accent3:  #585858;
$accent4:  #808080;
$accent5:  #00C341;
$accent6:  #CCCCCC;
$hlink:    #FF0350;
$folHlink: #595959;

$footer-bg: $lt2;
$link-color: $tha-red;

